{% extends 'Customer/CusBase.html' %}
{% load static %}

{% block content %}
<style>
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
</style>
       <script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("span")[0];
        txtValue = a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

function sort_getvalue(value) {
    if (value === 'avgPrice_asc')
    {
        sort_AvgPrice_asc('avgPrice')
    }
    else if (value === 'avgPrice_dsc')
    {
        sort_AvgPrice_dsc('avgPrice')
    }
    else if(value === 'rating_asc')
    {
        sort_AvgPrice_asc('rating')
    }
    else if(value === 'rating_dsc')
    {
        sort_AvgPrice_dsc('rating')
    }
    else if(value === 'name')
    {
        sort_AvgPrice_asc('name')
    }
}
function sort_AvgPrice_asc(id) {

    var ul, switching, b, shouldSwitch;
    ul = document.getElementById("myUL");
    switching = true;
     while (switching)
     {

         switching = false;
        b = ul.getElementsByTagName("li");
        for (i = 0; i < (b.length - 1); i++) {
            shouldSwitch = false;
            if (b[i].getElementsByClassName(id)[0].innerText > b[i + 1].getElementsByClassName(id)[0].innerText) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
      b[i].parentNode.insertBefore(b[i + 1], b[i]);

      switching = true;
    }
     }
}
function sort_AvgPrice_dsc(id) {

    var ul, switching, b, shouldSwitch;
    ul = document.getElementById("myUL");
    switching = true;
     while (switching)
     {

         switching = false;
        b = ul.getElementsByTagName("li");
        for (i = 0; i < (b.length - 1); i++) {
            shouldSwitch = false;
            if (b[i].getElementsByClassName(id)[0].innerText < b[i + 1].getElementsByClassName(id)[0].innerText) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
      b[i].parentNode.insertBefore(b[i + 1], b[i]);

      switching = true;
    }
     }
}
        </script>

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url({% static 'images/img_bg_1.jpg' %})" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="row row-mt-15em">
						<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                        {% if user.is_authenticated %}

                          <span class="intro-text-small">Hello, <a href={% url 'Customer:profile' %} target="_blank">{{ user.first_name }} {{ user.last_name }}</a></span>
                        {% else %}
                            #if customer is not logged in, give login button
                          <a class="lead" href="{% url 'Authentication:login' %}"><input type="button" class="btn btn-primary btn-block" value="Login!"></a>
	                    {% endif %}

				 			<h1 class="cursive-font">Taste all our delicacies!</h1>
						</div>

					</div>


				</div>
			</div>
		</div>
	</header>



	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2 class="cursive-font primary-color"><span class="icon-home"></span> Popular Restaurants Nearby</h2>
					<p>Choose from the best near you!</p>
                    {# search bar #}
                <input id="myInput" onkeyup="myFunction()" placeholder="Search for restaurants.." title="Type in a name" type="text" size="50">
{#                    <button onclick="sort_AvgPrice_asc('avgPrice')">Average Price</button>#}
{#                    <button onclick="sort_AvgPrice_asc('rating')">Average Rating</button>#}
{#                    <button onclick="sort_AvgPrice_asc('name')">Name</button>#}

                    <select onclick="sort_getvalue(this.value)" style="width: 10em; height: 2em;">
                        <option value="name_asc">Name</option>
                        <option value="" selected disabled hidden>Choose filter</option>
                          <option value="avgPrice_asc">Price: Low to High</option>
                          <option value="avgPrice_dsc">Price: High to Low</option>
                          <option value="rating_asc">Rating: Low to High</option>
                          <option value="rating_dsc">Rating: High to Low</option>

                    </select>

				</div>


			</div>
			<div class="row">

{#                running two for loops in ven_list and printing all vendors.#}
            <ul id="myUL">
                {% for i,j in ven_list.items %}
                    <li > <span  hidden>{{ i }}</span>
                        <span class="avgPrice" hidden>{{ j.Price }}</span>
                        <span class="rating" hidden>{{ j.rating }}</span>
                        <span class="name" hidden>{{ i }}</span>
                 <form method="POST" action="{% url 'Customer:restaurant' %}">
                    {% csrf_token %}
				    <div class="col-lg-4 col-md-4 col-sm-6">

					<div class="fh5co-card-item" style="background-color: #FAFAD2">

						<figure>
							<div class="overlay"></div>
                            {# a default dummy image added. later image from db can be fetched #}
							<img src="{% static 'images/food.jpeg' %}" alt="{{ i }}" class="img-responsive">
						</figure>
						<div class="fh5co-text">

							<h2><input type="submit" class="btn-cta cursive-font" value="{{ i }}" name="restaurant"></h2>

                            <span class="intro-text-small">
							<p>
                                <span class="icon-map"></span> {{ j.Address }}<br>
                                <span class="icon-clock"></span> {{ j.Time }}<br>
                                <span style="color:orange; font-weight: bold;">Type : {{ j.Type }}</span>
                                <br>
                                <span class="gtco-contact">
                                    <span class="icon-phone"></span> {{ j.phone }}<br>
                                    {{ j.Email }}
                                </span>

                            </p>
                            </span>
							<p><span class="price cursive-font">₹{{ j.Price }} for 2<br>{{ j.rating }} <span class="icon-star2"></span></p>
                    </div>
					</div>

				    </div>
                 </form></li>
                {% endfor %}

			</div>
		</div>
	</div>
{% endblock %}