<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Home</title>
</head>
<body>
    Home! <a href="{% url 'Authentication:logout' %}">Logout</a>
    <p class="display-4">Hello, {{ user.first_name }} {{ user.last_name }} </p>
Menu
<br><br>
 <form method="POST" action="{% url 'Customer:cart' %}">
        {% csrf_token %}
   <input type="hidden" value="{{ uid }}" name="restaurant" >{#{{ i }}#}

    Main Course : <br> <br>
{% for i,j in Main_Course.items %}

    {{ i }}
    <input type="number" value="0" min="0" name="{{ i }}">{#{{ i }}#}
    <br><p>
    {% for k,l in j.items %}
        {{ k }} : {{ l }}
    <br>
    {% endfor %}
    </p><br>
{% endfor %}
        Beverages : <br><br>
{% for i,j in Beverages.items %}

    {{ i }}
    <input type="number" value="0" min="0" name="{{ i }}">{#{{ i }}#}
    <br><p>
    {% for k,l in j.items %}
        {{ k }} : {{ l }}
    <br>
    {% endfor %}
    </p><br>
{% endfor %}
       Dessert : <br><br>
{% for i,j in Dessert.items %}

    {{ i }}
    <input type="number" value="0" min="0" name="{{ i }}">{#{{ i }}#}
    <br><p>
    {% for k,l in j.items %}
        {{ k }} : {{ l }}
    <br>
    {% endfor %}
    </p><br>
{% endfor %}
 <input type="submit" value="Add To Cart" name="cart">
 </form>

Reviews:
{% for i,j in reviews.items %}
        <br><p>
    {% for k,l in j.items %}
         {{ l }} Stars
        <br>
        {{ k }}
    <br>
    {% endfor %}
    <br>
    </p><br>
{% endfor %}

</body>
</html>